/// <reference path="vars/colors.scss" />
@use 'vars/colors.scss' as *;

a.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
    position: initial;
    top: 0;
    left: 0;
    display: block;
    height: auto;
    margin: 3px 0;
    overflow: visible;
    padding: 2px;
    color: $gray-2;
    background: $white-1;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    font-size: 16px;
}
