$black-1: #000;
$code-color: #000;
$print-color: #000;
$product-estimate-shipping-arrow-color: #000;
$tooltip-color: #000;
$product-review-type-border-color: #000;

$blue-1: #4ab2f1;
$link-hover-color: #4ab2f1;
$tag-color: #4ab2f1;
$button-color: #4ab2f1;

$blue-2: #248ece;
$blue-3: #4ab3f1;
$blue-4: #00f;
$blue-5: #006080;
$blue-6: #00c;

$gray-1: #777;
$gray-2: #444;
$gray-3: #ddd;
$gray-4: #ccc;
$gray-5: #e6e6e6;
$gray-6: #f9f9f9;
$gray-7: #f6f6f6;
$gray-8: #333;
$gray-9: #eee;
$gray-10: #555;
$gray-11: #666;
$gray-12: #aaa;
$gray-13: #eaeaea;
$gray-14: #f3f3f3;
$gray-15: #999;
$gray-16: #cecece;
$gray-17: #f0f0f0;
$gray-18: #c0c0c0;
$gray-19: #888;
$gray-20: #f2f2f2;
$gray-21: #fafafa;
$gray-22: #cacece;
$gray-23: #99a1a7;
$gray-24: #adb8c0;
$gray-25: #cedbe1;
$gray-26: #cec6b5;

$green-1: #4cb17c;
$green-2: #4bb07a;
$green-3: #690;
$green-4: #008000;

$orange-1: #c63;

$red-1: #e4434b;
$red-2: #e4444c;
$red-3: #de444c;
$red-4: #e91e63;
$red-5: #800000;
$red-6: #f00;

$white-1: #fff;
$white-2: #ffffffab;

$yellow-1: #f39c12;
$yellow-2: #ff9;
$yellow-3: #ffa500;
$yellow-4: #c3891e;
$yellow-5: #ff0;
